In [1]:
from pathlib import Path

import pandas as pd

In [8]:
old_root = Path('/ihme/covid-19/seir-pipeline-outputs/regression/2020_06_23.integration_test_1')
new_root = Path('/ihme/covid-19/seir-fit/2020_06_23.02')
old_betas_path = old_root / 'betas'
new_betas_path = new_root / 'betas'
old_params_path = old_root / 'parameters'
new_params_path = new_root / 'parameters'

In [9]:
def load_loc_draw_files(root: Path) -> pd.DataFrame:
    data = []
    for loc_dir in root.iterdir():
        data.append(load_draw_files(loc_dir))
    return pd.concat(data)

def load_draw_files(root: Path):
    data = []
    for draw_file in root.iterdir():
        df = pd.read_csv(draw_file)
        df['draw'] = int(draw_file.stem.split('_')[-1])
        data.append(df)
    return pd.concat(data)

In [10]:
%%time
old_betas = load_loc_draw_files(old_betas_path)
new_betas = load_loc_draw_files(new_betas_path)

# The old betas have covariates attached.
old_betas = old_betas.loc[:, new_betas.columns]

print('Equality test:', old_betas.equals(new_betas))

Equality test: True
CPU times: user 23 s, sys: 21.8 s, total: 44.7 s
Wall time: 52.4 s

In [11]:
%%time
old_params = load_draw_files(old_params_path)
new_params = load_draw_files(new_params_path)

print('Equality test:', old_params.equals(new_params))

Equality test: True
CPU times: user 48 ms, sys: 69 ms, total: 117 ms
Wall time: 168 ms

In [6]:
old_betas

,loc_id,date,days,beta,S,E,I1,I2,R,newE,newE_obs,draw
0,216,2020-03-21,0,5.000022,1.513400e+07,54.432954,12.556501,0.000000,0.000000,54.432954,54.432954,2
1,216,2020-03-22,1,2.734088,1.513394e+07,95.898247,19.974000,6.051366,1.887384,59.207498,59.207498,2
2,216,2020-03-23,2,1.805707,1.513388e+07,133.908347,30.807038,12.828517,7.711257,63.678764,63.678764,2
3,216,2020-03-24,3,1.338401,1.513382e+07,168.797514,43.189144,20.852145,18.150311,67.788169,67.788169,2
4,216,2020-03-25,4,1.070155,1.513375e+07,200.804096,56.032670,29.879154,33.925735,71.516958,71.516958,2
...,...,...,...,...,...,...,...,...,...,...,...,...
93,53,2020-06-05,93,0.532277,8.715782e+06,293.365985,177.374432,108.344936,30423.886935,89.883976,89.883976,7
94,53,2020-06-06,94,0.531974,8.715692e+06,294.056894,177.846545,108.654196,30512.383985,90.054751,90.054751,7
95,53,2020-06-07,95,0.531681,8.715602e+06,294.709318,178.293149,108.947413,30601.126713,90.215257,90.215257,7
96,53,2020-06-08,96,0.531397,8.715511e+06,295.324464,178.715239,109.225011,30690.102196,90.365438,90.365438,7
97,53,2020-06-09,97,0.531119,8.715421e+06,295.903176,179.113661,109.487487,30779.297898,90.505243,90.505243,7

In [7]:
new_betas

,loc_id,date,days,beta,S,E,I1,I2,R,newE,newE_obs,draw
0,216,2020-03-21,0,5.000022,1.513400e+07,54.432954,12.556501,0.000000,0.000000,54.432954,54.432954,2
1,216,2020-03-22,1,2.734088,1.513394e+07,95.898247,19.974000,6.051366,1.887384,59.207498,59.207498,2
2,216,2020-03-23,2,1.805707,1.513388e+07,133.908347,30.807038,12.828517,7.711257,63.678764,63.678764,2
3,216,2020-03-24,3,1.338401,1.513382e+07,168.797514,43.189144,20.852145,18.150311,67.788169,67.788169,2
4,216,2020-03-25,4,1.070155,1.513375e+07,200.804096,56.032670,29.879154,33.925735,71.516958,71.516958,2
...,...,...,...,...,...,...,...,...,...,...,...,...
93,53,2020-06-05,93,0.532277,8.715782e+06,293.365985,177.374432,108.344936,30423.886935,89.883976,89.883976,7
94,53,2020-06-06,94,0.531974,8.715692e+06,294.056894,177.846545,108.654196,30512.383985,90.054751,90.054751,7
95,53,2020-06-07,95,0.531681,8.715602e+06,294.709318,178.293149,108.947413,30601.126713,90.215257,90.215257,7
96,53,2020-06-08,96,0.531397,8.715511e+06,295.324464,178.715239,109.225011,30690.102196,90.365438,90.365438,7
97,53,2020-06-09,97,0.531119,8.715421e+06,295.903176,179.113661,109.487487,30779.297898,90.505243,90.505243,7